AI-News-Summarize (1).json
{
  "name": "AI-News-Summarize",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -208
      ],
      "id": "2b4ca45e-5ed4-470c-83ca-54c9d1e8378a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        -304
      ],
      "id": "2d7ea552-df37-42ab-a3b2-524b4e963be2",
      "name": "AI News Feed"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        432,
        -208
      ],
      "id": "e5d8ff44-5f58-426e-8e65-ad7bb44636f0",
      "name": "Data Aggregator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI newsletter assistant creating a daily intelligence report from multiple categories.\nUse only the provided items. Do not invent content.\nOrganize the provided items by category and Format exactly like this:\n\nHi there,\nHere's your Tech Brief:\n\nAI NEWS HIGHLIGHTS\n======================\n[5 most important AI developments]\nFor each AI-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nTECHNOLOGY UPDATES\n======================\n[Latest broader technology-related developments from major tech sources]\nFor each broader technology-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nUPCOMING AI EVENTS\n======================\n[List events with date, location, description]\nIf no events found: \"No AI events scheduled this week\"\n\nFor each Event Item\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nKeep the summaries professional, concise, and easy to read.\n\nSign off as \"Your AI Intelligence Team\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        -208
      ],
      "id": "4100dd0e-acfd-4139-8ff2-d1407b7ef8b9",
      "name": "AI Summarization Model"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        736,
        16
      ],
      "id": "97b3aac6-c130-4236-9407-f5952ffe1e94",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zzpFGryZEB9Ti3Gt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "subject": " today's ai news",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        -208
      ],
      "id": "825a1b74-2102-40e5-aef3-afb6ca5d596f",
      "name": "Send a message",
      "webhookId": "bc892d1e-0a7d-456b-8367-2308ad97dc7f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ScdYXb4lTD01NAwN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        -112
      ],
      "id": "f9251648-59de-4ee1-b0a7-5c18a4f2d267",
      "name": "Tech Upadtes Feed"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        -208
      ],
      "id": "d0880457-d993-4f18-b0fb-db46374358a6",
      "name": "Merge-Node"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_events"
            },
            {
              "name": "q",
              "value": "AI Tech Event in India"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "6b3066f684ca081995872dcb50cb189b7c7506c86a6f5b43b599f9baab98e5a9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        128
      ],
      "id": "99993647-56c6-4bcb-aaec-6bb8c227d97b",
      "name": "Fetch Event"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI News Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tech Upadtes Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Feed": {
      "main": [
        [
          {
            "node": "Merge-Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregator": {
      "main": [
        [
          {
            "node": "AI Summarization Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarization Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarization Model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Upadtes Feed": {
      "main": [
        [
          {
            "node": "Merge-Node",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge-Node": {
      "main": [
        [
          {
            "node": "Data Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Fetch Event": {
      "main": [
        [
          {
            "node": "Merge-Node",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "31d2fe8d-2f97-465a-8009-80eb4d0c56e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67c5ff25f7ed6f9f2b5dabea58abe974cbe0c7fb7f3efd228bd31d66105331d3"
  },
  "id": "vFNTmRq2PVJNfJu0",
  "tags": []
}